@font-face {
    font-family: 'Exo 2';
    src: url('@/assets/fonts/Exo2-Black.ttf');
    font-weight: 900;
    font-style: normal;
};
@font-face {
    font-family: 'Exo 2';
    src: url('@/assets/fonts/Exo2-Bold.ttf');
    font-weight: 700;
    font-style: normal;
};
@font-face {
    font-family: 'Exo 2';
    src: url('@/assets/fonts/Exo2-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
};
@font-face {
    font-family: 'Exo 2';
    src: url('@/assets/fonts/Exo2-Medium.ttf');
    font-weight: 500;
    font-style: normal;
};
@font-face {
    font-family: 'Exo 2';
    src: url('@/assets/fonts/Exo2-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
};

