@import './fonts.scss';
@import './animations.scss';

*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
}
#app{
    background: #E2E2E2;
    padding: 80px 0;

}
.container{
    max-width: 1444px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    &__center{
        align-items: center;
    }
    &__stretch{
        margin-top: 50px;
    }
}
.button{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    padding: 22px 0;
    background: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
        content: "";
        height: 200%;
        left: -230%;
        opacity: 0;
        position: absolute;
        top: -20%;
        transform: rotate(-30deg);
        width: 200%;
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(
          to right, 
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
    );
    }
    &:hover{
        background: #FDD836;

    }
    &:hover:after {
        left: -50%;
        opacity: 1;
        top: -50%;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-property: left, top, opacity;
        transition-timing-function: ease;
    }
    &:active:after {
        opacity: 0;
      }
}
.header{
    &__image{
        width: 60%;
    }
    &__box{
        width: 38%;
    }
    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.7px;
        color: #1D1D1B;
    }
    &__button{
        margin-top: 20px;
    }
}

.section{
    &__box{
        margin-top: 40px;
    }
    &__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1.3px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 16px;    
    }
    &__games{
        margin-top: 70px;
    }
    &__text{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.7px;
        color: #1D1D1B;
    }
    &__list{
        padding-left: 40px;
        margin: 20px 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.7px;
        color: #1D1D1B;
    }
    &__earn{
        margin-top: 50px;
    }
}

.box{
    padding: 20px 22px;
    border-radius: 20px;
    box-sizing: border-box;
    &__wrapper{
        display: flex;
    }
    &__strategy{
        width: 60%;
        display: flex;
        flex-direction: column;
        background: #F3F6FF;
        &__title{
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
            letter-spacing: -1.3px;
            text-transform: uppercase;
            color: #FDD836;
            &-span{
                color: #000;
            }
        }
        
    }
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.7px;
        color: #1D1D1B;
    }
    &__title{
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        letter-spacing: -1.3px;
        text-transform: uppercase;
        width: min-content;
        margin-bottom: 5px;
        color: #FDD836;
    }
    &.bonus{
        background: #FDD836;
        padding: 20px 27px  20px 22px;
        width: 38%;
    }
    .bonus{
        &__title{
            color: #000000 !important;
            &-span{
                display: block;
                color: #FFFFFF;
            }
        }
    }
    &__games{
        max-width: 582px;
        background: #FDD836;
    }
    &__games{
        &-title{
            color:#000;
            margin-bottom: 25px;
            &-span{
                color:#fff;
            }
        }
    }
    &.test{
        width: 57%;
        background: #fff;
    }
}
.strategy{
    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.7px;
        color: #1D1D1B;
        &:last-child{
            margin-top: auto;
        }
    }
}

.games{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // min-width: 583px;
    .game{
        width: 240px;
        margin-bottom: 25px;
        &__title{
            background: #fff;
            padding: 0 10px;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.7px;
            color: #1D1D1B;
            margin-bottom: 20px;
            span{
                display: block;
            }
        }
        &__item{
            font-weight: 400;
            list-style-type: none;
            &::before{
                content:'→'
            }
        }
        // &:nth-child(2n+1){
        //    margin-right: 55px;
        // }
    }
}

.test{
    &__title{
        color: #FDD836;
        width: auto;
        span{
            display: block;
            color:#000;
            margin-bottom: 15px;
        }
    }
    &__text{
        max-width: 372px;
        &:last-child{
            margin-top: 20px;
        }
    }
}

.footer{
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__text{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.7px;
        text-align: center;
        max-width: 855px;
        color: #1D1D1B;
        margin-bottom: 25px;
    }
}